body {
  background: #1B1212;
  color: #ffffff
}



canvas {
  width: 575px;
  image-rendering: pixelated;
  z-index: 100;
  position: absolute;
  top: 170px;
  left: 210px;
}
#gameboy-case {
  width: 100%;
}
.gameboy {
  position: absolute;
  left: 25%;
  width: 1000px;
  .load-game {
    position: absolute;
    top: 20px;
    left: 160px;
    #load-icon {
      cursor: pointer;
    }
  }
}
.full-screen {
  margin-top: 20px;
  margin-left: 60px;
  background: #1B1212;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-color: white;
}
.controls {
  float: right;
  margin-top: 20px;
  margin-right: 150px;
  ul {
    label {
      font-weight: 700;
    }
  }
}